@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {
  &__item {
    @include margin-bottom(1.25);
    border-bottom: 1px dotted #303030;
    padding: 10px 15px;
    border: 1px solid #c8e1ff;
    border-radius: 10px;
    &:hover,
    &:focus {
      opacity: .8;
      color: $color-primary;
      cursor: pointer;
      background: #c8e1ff;
    }
    &:last-child {
      @include margin-bottom(.5);
    }

    &-title {
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(.5);

      &-link {
        color: $color-base;

        &:hover,
        &:focus {
          color: $color-base;
          border-bottom: 1px solid $color-base;
        }

      }

    }

    &-description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(.75);
    }

    &-meta {
      &-time {
        font-size: $typographic-small-font-size;
        color: $color-base;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          color: $color-secondary;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }

        }

      }

    }

    &-readmore {
      font-weight: 700;
      border-radius: 1.25rem;
      background-color: #c8e1ff;
      padding: .625rem 2.5rem;
      font-weight: 700;
      font-size: $typographic-base-font-size;
      color: $color-primary;

      &:hover,
      &:focus {
        opacity: .8;
        color: $color-primary;
        box-shadow: 0 0 15px 0 rgba(32,32,32,.08);
      }

    }

  }

}