@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');

html {
    box-sizing: border-box;
    font-size: 16px;
    /* font-family: 'Lobster', cursive; */
}

*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
font-family: 'Roboto', sans-serif;
}

ol, ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}

a {
    text-decoration: none;
    box-shadow: none;
}

/* Custom Code */
.background {
    position: absolute;
    top: -150px;
    z-index: -1000; 
}

.section-wrap {
    width: 90%;
    min-height: 100vh;
    margin: auto;
    background: #fff;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.section-left {
    width: 50%;
    float: left;
}

.section-right {
    width: 50%;
    float: right;
}

.navbar {
    float: right;
    margin: 20px;
}

a.navlink {
    margin: 10px;
}

main {
    float: left;
}

.title .profile {
    margin-top: 20%;
    border-radius: 50%;
    border: 7px solid rgba(80, 79, 155, 0.6);
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


  